# This is a basic workflow to help you get started with Actions

name: Solution verification

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master, kk/new_tree_search ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  process_instances:
    name: Process instances
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python
      uses: actions/setup-python@v2
      
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Setup repository
      uses: actions/checkout@v2
    
    - name: Setup Ortec Tools
      run: pip install ortec.scientific.benchmarks.loadbuilding
      
    - name: Create solutions folder
      run: mkdir solutions
      
    # Process instances
    - name: Process instance br00.001.yaml
      run: python run.py instances/br00.001.yaml solutions/br00.001-solution.yaml
      
    # Process instances
    - name: Process instance br01.001.yaml
      run: python run.py instances/br01.001.yaml solutions/br01.001-solution.yaml

    # Process instances
    - name: Process instance br02.001.yaml
      run: python run.py instances/br02.001.yaml solutions/br02.001-solution.yaml
      
    # Process instances
    - name: Process instance br03.001.yaml
      run: python run.py instances/br03.001.yaml solutions/br03.001-solution.yaml
      
    # Process instances
    - name: Process instance br04.001.yaml
      run: python run.py instances/br04.001.yaml solutions/br04.001-solution.yaml
      
    # Process instances
    - name: Process instance br05.001.yaml
      run: python run.py instances/br05.001.yaml solutions/br05.001-solution.yaml
      
    # Process instances
    - name: Process instance br06.001.yaml
      run: python run.py instances/br06.001.yaml solutions/br06.001-solution.yaml
      
    # Process instances
    - name: Process instance br07.001.yaml
      run: python run.py instances/br07.001.yaml solutions/br07.001-solution.yaml
      
    # Process instances
    - name: Process instance br08.001.yaml
      run: python run.py instances/br08.001.yaml solutions/br08.001-solution.yaml
      
    # Process instances
    - name: Process instance br09.001.yaml
      run: python run.py instances/br09.001.yaml solutions/br09.001-solution.yaml
      
    # Process instances
    - name: Process instance br10.001.yaml
      run: python run.py instances/br10.001.yaml solutions/br10.001-solution.yaml
  
    # Store solutions
    - name: Save solutions as artifacts
      uses: actions/upload-artifact@v1
      with:
        name: solutions
        path: solutions/
  
  validate_instances:
    name: Validate instances
    needs: process_instances
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python
      uses: actions/setup-python@v2
      
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Setup repository
      uses: actions/checkout@v2
    
    - name: Setup Ortec Tools
      run: pip install ortec.scientific.benchmarks.loadbuilding
    
    - name: Import solutions from previous job
      uses: actions/download-artifact@v1
      with:
        name: solutions
    
    # Check if solutions are valid
    - name: Validate instance br00.001.yaml
      run: osbl-solution -I instances/br00.001.yaml -S solutions/br00.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br01.001.yaml
      run: osbl-solution -I instances/br01.001.yaml -S solutions/br01.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br02.001.yaml
      run: osbl-solution -I instances/br02.001.yaml -S solutions/br02.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br03.001.yaml
      run: osbl-solution -I instances/br03.001.yaml -S solutions/br03.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br04.001.yaml
      run: osbl-solution -I instances/br04.001.yaml -S solutions/br04.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br05.001.yaml
      run: osbl-solution -I instances/br05.001.yaml -S solutions/br05.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br06.001.yaml
      run: osbl-solution -I instances/br06.001.yaml -S solutions/br06.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br07.001.yaml
      run: osbl-solution -I instances/br07.001.yaml -S solutions/br07.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br08.001.yaml
      run: osbl-solution -I instances/br08.001.yaml -S solutions/br08.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br09.001.yaml
      run: osbl-solution -I instances/br09.001.yaml -S solutions/br09.001-solution.yaml | grep "Solution is valid"
    
    # Check if solutions are valid
    - name: Validate instance br10.001.yaml
      run: osbl-solution -I instances/br10.001.yaml -S solutions/br10.001-solution.yaml | grep "Solution is valid"

    # Calculate the utilization
    - name: Obtain and print utilizations
      run: |
          printf "br00.001-solution.yaml utilization: " > utilizations.txt
          osbl-solution -I instances/br00.001.yaml -S solutions/br00.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr01.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br01.001.yaml -S solutions/br01.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr02.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br02.001.yaml -S solutions/br02.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr03.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br03.001.yaml -S solutions/br03.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr04.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br04.001.yaml -S solutions/br04.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr05.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br05.001.yaml -S solutions/br05.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr06.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br06.001.yaml -S solutions/br06.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr07.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br07.001.yaml -S solutions/br07.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr08.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br08.001.yaml -S solutions/br08.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr09.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br09.001.yaml -S solutions/br09.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          printf "\nbr10.001-solution.yaml utilization: " >> utilizations.txt
          osbl-solution -I instances/br10.001.yaml -S solutions/br10.001-solution.yaml | grep Objective | grep -Eo '\[-[0-9]{1}.[0-9]*' | grep -Eo '[0-9]{1}.[0-9]*' >> utilizations.txt
          cat utilizations.txt
      
    # Store utilization values
    - name: Store utilization values
      uses: actions/upload-artifact@v1
      with:
        name: solutions
        path: utilizations.txt
      
